services:
  - type: web
    name: pokemon-agg
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    region: oregon
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
